.heart-container {
  display: flex;
  position: absolute;
  top: 20px;
  right: 22px; 
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  flex-wrap: wrap;
  z-index: 20;
  transform: translate(50%, -50%);
}

.heart {
  width: 100px;
  height: 100px;
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.heart.liked {
  background-position: -2800px 0;
}

.heart.active {
  animation: fave-heart 1s steps(28) forwards;
}

@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
