.heart-container {
  display: flex;
  position: absolute;
  right: 16px;
  top: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  z-index: 20;
}

.heart {
  width: 100px;
  height: 100px;
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background 0.3s ease; 
}

.heart.liked {
  background-position: -2800px 0;
}

.heart.active {
  animation: fave-heart 1s steps(28) forwards;
}

.number {
  position: absolute;
  margin-top: 50px;
  font-size: 20px;
  color: red;
  transition: transform 1s ease, font-size 1s ease, margin-top 200ms;
}

.number.active {
  transform: scale(1.5);
  font-size: 20px;
  font-weight: bolder;
  margin-top: -60px;
  color: red;
}

@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}