/* Swiper principal */
.main-swiper {
  width: 100%;
}

/* Contenedor de imágenes del swiper principal */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Máximo 50% del alto de la pantalla */
  width: 100%; /* 100% del ancho de la pantalla */
  overflow: hidden;
}

.carousel-image {
  max-height: 100%;
  max-width: 100%; 
  object-fit: contain; 
}

.thumbs-swiper {
  width: 100%;
}

.thumb-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
  overflow: hidden;
}

.thumb-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.thumb-image:hover {
  transform: scale(1.1);
}

.swiper-slide-thumb-active .thumb-image {
  border: 2px solid #007bff;
}
